<h1>My Tasks</h1>

<ul>
  <% @tasks.each do |task|%>
    <li>
      <%= link_to task.title, task_path(task) %> -
      <%= link_to "Edit", task_edit_path(task) %> -
      <%= link_to "Delete", task_destroy_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a new task", tasks_new_path %>
